# Conda
envs/
.conda/

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Environment
.env
.vscode

# Data
data/*.csv
data/*.json

# OS
.DS_Store
Thumbs.db 
.ssh

# For own diagnostic purposes:
analysis/06_eurostat_coverage_check.ipynb
SPRINT5_PLAN.md

# Claude staff
.claude